
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
  }
  
header {
    background-color: lightcoral;


}
section {
    background-color: lightseagreen;
    width:70%;
    padding: 5px;
}
aside {
    background-color: lightpink;
}

h3{
    font-weight: normal;
    font-size: 1.5rem;

}
.nav {
    display:flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    align-items: center;

}

.nav .nav-right {
    display:flex;
    position: absolute; right: 1px; top:1px;
}

.nav-center {
    position: absolute; left: 30%; top:1px;
    align-items:top;
    justify-items: auto;
    width: 30%;
}
.nav-search {
    width:100%;
    height:38px;
    position: relative; top: 5px;
}

.nav-item-search-btn {
    position: absolute; top: 5px; left:100%;
}

#user img{
    border: 1px solid white;
    width: 50%;
    border-radius: 50%;
}

.socialarea {
    display: flex;
    padding: 3px;
    flex-direction: row;
    width:100%;
    margin-left: 0%;
    justify-content: space-between;
    vertical-align: middle; 
}

#views {
    color: #606060;;
    padding-top: 15px;
    font-size: 1.2rem;
}

.publisher img {
    border: 1px solid white;
    width: 50px;
    border-radius: 50%;
}

.subscribe img {
    width: 200px;
}
.publisherinfo {
    display: flex;
    padding: 3px;
    flex-direction: row;
    width:100%;
    margin-left: 0%;
    justify-content: space-between;
    vertical-align: middle; 
}
.publisher {
    display: flex;
    padding: 3px;
    flex-direction: row;
    width:100%;
    margin-left: 0%;
    vertical-align: middle; 
}

.commentstitle {
    display: flex;
    padding: 3px;
    flex-direction: row;
    width:50%;
    margin-left: 0%;
    vertical-align: middle; 
    justify-content: space-between;
}

.usercomments {
    display: flex;
    padding: 3px;
    flex-direction: row;
    width:100%;
    margin-left: 0%;
    vertical-align: middle; 
}

.usercomments img {
    border: 1px solid white;
    width: 50px;
    border-radius: 50%;
}

.usercomments p {
    padding-top: 17px;
}

.description {
    font-size: 14px;
}

.sort {
    display: flex;
    flex-direction: row;
}