
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
  }
  
header {
    background-color: lightcoral;


}
section {
    background-color: lightseagreen;

}
aside {
    background-color: lightpink;
}

.nav {
    display:flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    align-items: center;

}

.nav .nav-right {
    display:flex;
    position: absolute; right: 1px; top:1px;
}

.nav-center {
    position: absolute; left: 30%; top:1px;
    align-items:top;
}
.nav-search {
    width:400px;
    height:38px;
    position: absolute; top: 5px;
}

.nav-item-search-btn {
    position: absolute; top: 5px; left: 400px;
}

#user img{
    border: 1px solid white;
    width: 50%;
    border-radius: 50%;
}
